@{
  Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h3>Here is the receipt for your package to the depths of Mordor:</h3>
        <h4>Your package will cost: ₪@Model.GetCost() Hryvnias</h4>
    </div>
</div>
